*{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #606060;
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.534);
}